table{
	
	background-color: red;
	margin-left: 60%;
	margin-right: 10%;
	margin-top: 1%;
}

h1{

	color: white; 
	text-align: center;
	background-color: green;
	margin-left: 0%;
	margin-right: 0%;
<<<<<<< HEAD
	margin-top: 5%;
=======
	margin-top: 2%;
>>>>>>> e401052332cb73adea7c63167274d8b1496daa65
}

body{

	background-color: black;
	background-image: url(imc.jpg);
	background-repeat: no-repeat;
	background-position:  left;
	background-attachment: fixed;
}


td{

	font-weight: 15px;
	font-size: 15px;
	font-family: Sans-serif;

}